<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Car_Part_Managment_Service.Properties.Settings.CarPartConnectionString"
            connectionString="Data Source=DESKTOP-78855J8\SQLEXPRESS;Initial Catalog=CarPart;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>